<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LOTWQSL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <LOTWQSL.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="lastLOTW" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="mapBand" serializeAs="String">
                <value>20M</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AzimuthOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreBounds" serializeAs="String">
                <value>0, 0, 292, 300</value>
            </setting>
            <setting name="MapSize" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="MapRestoreBounds" serializeAs="String">
                <value>0, 0, 200, 300</value>
            </setting>
            <setting name="GridDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridRestoreBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="StatesLabeled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontStateLabels" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt, style=Bold</value>
            </setting>
            <setting name="FontStateColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AzimuthLabelColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AzimuthLabelFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt, style=Bold</value>
            </setting>
            <setting name="GridHide" serializeAs="String">
                <value/>
            </setting>
            <setting name="GridHeadersColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QSODate" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="Mismatches" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridMode2" serializeAs="String">
                <value>ALL</value>
            </setting>
        </LOTWQSL.Properties.Settings>
    </userSettings>
</configuration>
